body {
    background: #3b3b3b;
    color: #fff;
    -webkit-user-select: none;
    cursor: default;
}

.section {
    background: #2d2d2d;
    margin: 5px;
}

.title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 40px;
    color: #1b97f3;
}

.description {
    color: #c0c0c0;
    font-size: 13px;
}

.content {
    margin-bottom: 5px;
    margin-right: 5px;
}

input {
    color: #fff;
}

.btn {
    margin-right: 5px;
}

.text-black {
    color: black;
}